{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Thêm kế hoạch học tập cá nhân</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form method="post" action="{% url 'kehoachhoctapcanhan' %}" role="form">
         {% csrf_token %}
          <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Kỳ học</label>
            <input name="hocky"  type="number" class="form-control" id="exampleInputEmail1" placeholder="Kỳ học">
          </div>
              <!-- select -->
              <div class="form-group">
                <label>Học phần</label>
                <select name="hocphan" class="form-control">
                    {% for item in list_hocphan %}
                        <option value="{{ item.mahp.id }}">{{ item.mahp.ten_hp }}</option>
                    {% endfor %}
                </select>
              </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
      </form>
    </div>
    <!-- /.card -->

  </div>
</div>

<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Học phần
                </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>Học kỳ</th>
                      <th>Học phần</th>
                      <th>Số tín chỉ</th>

                    </tr>
                  </thead>
                  <tbody>
                  {% for item in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                         <td>{{ item.hocky }}</td>
                        <td>{{ item.hocphan.ten_hp }}</td>
                        <td>{{ item.hocphan.so_tc }}</td>


                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}